@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.btn-animated {
  animation: moveInBottom ease-in-out 0.75s;
  animation-fill-mode: backwards;
}
.btn-white {
  background-color: #fff;
  color: #777;
  &::after {
    background-color: #fff;
  }
}
